@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.tabs-container {
  position: relative;
  background-color: #f9f9f9;
}
.tab-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background-color: #333;

}
.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 500;
}
.tab-item.active {
  background-color: #555;
}
.tab-content {
  margin-top: 20px;
}
@media (max-width: 600px) {
  .tab-list {
    display: none;
    flex-direction: column;
  }
  .tab-list.show {
    display: flex;
  }
  .toggle-button {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
}
@media (min-width: 600px){
  .toggle-button{
    display: none;
  }
}